@property --degree {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
:root {
  --degree: 0deg;
}
* {
  margin: 0;
  padding: 0;
}
.bar {
  position: relative;
  width: 500px;
  height: 500px;
  /* overflow: hidden; */
  margin: 100px auto;
  /* background-color: rgba(67, 191, 189, 0.3); */
}
.bar::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: conic-gradient(from var(--degree), #7e5fec 0%, #e934ec 50%,#7e5fec 100%);
  animation-name: identifier;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(70px);
}
@keyframes identifier {
  to {
    --degree: 360deg;
  }
}
