* {
  margin: 0;
  padding: 0;
}

.calendar {
  display: none;
  width: 400px;
  /* height: 400px; */
  padding-bottom: 20px;
  box-shadow: 0 0 5px 0 #111;
  margin: 10px auto;
}

.calendar h1 {
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.calendar span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  /* 取消文字双击选中文字的效果 */
  user-select: none;
}

.calendar span:nth-of-type(1) {
  left: 20px;
}

.calendar span:nth-of-type(2) {
  right: 20px;
}

.calendar .previous:hover,
.calendar .next:hover {
  background-color: #f3f3f3;
}
.calendar .previous:active,
.calendar .next:active {
  color: #beafaf;
  border-color: #333;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  font-weight: 500;
  color: #69696b;
}

td {
  padding: 14px;
  text-align: center;
}
.trueClicktd {
  cursor: pointer;
}
.trueClicktd:hover {
  color: #fff;
  background-color: #333;
  border-radius: 10px;
}
.falseClicktd {
  color: #ccc;
  cursor: not-allowed;
}
.thisDateBgc {
  background-color: #ccc;
}
.clickBlack {
  color: white;
  background-color: black;
}
