* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.font-Bold {
    font-weight: 700;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}